<!--About me content-->
<main class="container pb-3 pt-3">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %></h1>
        <hr class="my-4">
        <div class="w-75 p-3 mx-auto">

        <table class="table">
          <tbody>
          <tr>
            <th scope="row" class="align-middle">
              <h5>Davi Cavalcante de Carvalho</h5><br>
              <p class="sb-5">Civil Servant, Purshase Analyst in Brazil<br></p>
              <p class="sb-5">Software Developer and Software Engineer aspirant<br></p>
              <p class="sb-5">E-mail: <a href = "mailto: daviccarvalho@gmail.com">daviccarvalho@gmail.com</a><br></p>
            </th>
            
            <td><img src="Assets/images/davi.jpg" style="max-width: 300px;"></td>
          </tr>
          </tbody>
        </table>

        <p></p>

      </div>

        <div class="mx-auto pt-2" style="width: 400px;">
          <a class="btn btn-primary" href="/Assets/Davi_Resume.pdf" role="button">Resume</a>
          <a class="btn btn-primary" href="https://www.linkedin.com/in/davi-carvalho-58bb2a183/ " role="button">LinkedIn</a>
          <a class="btn btn-primary" href="https://www.github.com/daviccarvalho  " role="button">GitHub</a>
        </div>
  </div>
  
</main>