<!--Main content-->
<main class="container pb-3">
  <div class="jumbotron">
<h1 class="display-6"><%= title %></h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Find out more</a>
  </div>
  
</main>