<!--Main content-->
<main class="container pb-3 w-75 p-3">
  <div class="jumbotron">
<h1 class="display-6"><%= title %></h1>
    <hr class="my-4">
    <div class="border-end border-bottom">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    </div>
    <div class="pt-5">
    <a class="btn btn-primary btn-lg" href="#" role="button">Find out more</a>
    </div>
  </div>
  
</main>