<!--Bottom Nav-->
<footer class="pt-5"><nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid">
    <h6 class="navbar-text">&copy;&nbsp;Copyright Davi Carvalho #301154671 - COMP 229 - Summer 2021</h6>
  </div>
</nav>
</footer>