<!--Main content-->
<main class="container pb-3 pt-3">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %></h1>
    <div class="w-75 p-3 mx-auto">
    <form>
    <h5>Do you want to get in touch with me? Please, inform your contacts and a brief discription of what you need. I will answer as soon as possible.<h5>
      <div class="mb-3">
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="exampleInputEmail1" class="col-form-label">Email address</label>
        </div>
        <div class="col-auto">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div><br>

        <div class="col-auto">
          <label for="exampleInputEmail1" class="col-form-label">Email address</label>
        </div>
        <div class="col-auto">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        
          <div id="emailHelp" class="form-text">We'll never share your information with anyone else.</div>
        
        </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    </div>
  </div>
  </div>
</main>