<!--Main content-->
<main class="container pb=auto">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %></h1>
    <p class="display-6">Welcome to my portfolio page!</p>
    <p class="lead">My name is Davi Carvalho. I am a 36-year-old Brazilian software engineer and technology enthusiast who is changing careers drastically. I have always dreamed of studying programming and computer science, and now I am on my third semester of Software Engineering Technician program at Centennial College. Do you want to know more about me? Please, click the “Find out more” button bellow.</p>
    <p class="display-6">Mission statement</p>
    <p class="display-6">Mission statement</p>
    <p class="display-6">Mission statement</p>
    <p class="display-6">Mission statement</p>
    <p class="display-6">Mission statement</p>
    <p class="display-6">Mission statement</p>
    <p class="display-6">Mission statement</p>
    <p class="display-6">Mission statement</p>
    <p class="display-6">Mission statement</p>
    <p class="display-6">Mission statement</p>
    <p class="lead"></p>
    <hr class="my-4">
    <div class="mx-auto" style="width: 200px;">
    <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
    </div>
  </div>
  
</main>