<!--Main content-->
<main class="container pb-3 pt-3">
  <div class="jumbotron">
  <h1 class="display-4 pb-3"><%= title %></h1>
    <li>Client-Side Web Development</li>
    <li>Server-Side Web Development</li>
    <li>Basic C#</li>
    <li>SQL and PL/SQL Database</li>
    </ul>
    <hr class="my-4">
    
  </div>
</main>