<!--Main content-->
<main class="container pb-3">
  <div class="jumbotron">
    <ul class="display-6"><%= title %>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    </ul>
    <hr class="my-4">
    
  </div>
</main>