<!--Main content-->
<main class="container pb-3 pt-3">
  <div class="jumbotron">
  <h1 class="display-4 pb-3"><%= title %></h1>
    <li class="pb-3">Client-Side Web Development<br>
    <i class="fab fa-js-square"></i><i class="fab fa-php"></i><i class="fab fa-bootstrap"></i></li>
    <li class="pb-3">Server-Side Web Development</li>
    <li class="pb-3">Basic C#</li>
    <li class="pb-3">SQL and PL/SQL Database</li>
    </ul>
    <hr class="my-4">
    
  </div>
</main>