/*
File Name: index.js
Student Name: Davi Cavalcante de Carvalho
Student id# 301154671
June 04, 2021
*/
/* custom css goes here */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
