<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/content/app.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %> page!</h1>
    <p>Welcome to <%= h1 %></p>

    <script src="/Scripts/app.js"></script>
  </body>
</html>
