<!--Main content-->

<main class="container pb-3 pt-3">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %></h1>
    <div class="w-75 p-3 mx-auto">
    <p class="display-6">Welcome to my portfolio page!</p>
    <img src="../Assets/images/logo.svg" width="25%" height="25%" class="d-inline-block align-top mx-auto">
    <p class="display-6">Mission statement</p>
    <p class="lead">Our mission is to deliver smart and functional IT low cost solutions to small companies in Toronto by developing websites in JavaScript and HTML languages.
    <hr class="my-4">
    <div class="mx-auto" style="width: 200px;">
    <a class="btn btn-primary" href="/about" role="button">Find out more</a>
    </div>
    </div>
  </div>
  
</main>