<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!--About me content-->
<main class="container pb-3 pt-3">

  
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>