<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!--Register content-->
<main class="container pb-3 pt-3">
    <!--Message area-->
    <%if(messages.length > 0) {%>
    <div class="div alert-danger">
        
    </div>
}

  
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>